<form class="profile-form" action="#" method="post" novalidate>
    {{#each fields}}
        {{{ProfileFormField
            label=label
            name=name
            type=type
            value=value
            validationRule=validationRule
            formErrors=../formErrors
            formValues=../formValues
        }}}
    {{/each}}

    {{{SubmitButton text=submitText className="profile-form__submit"}}}
</form>
