.profile-form {
    margin: 0 0 60px;
}

.profile-form__submit {
    width: 280px;
    margin: 60px auto 0;
}

@media (max-width: 720px) {
    .profile-form {
        margin-bottom: 40px;
    }

    .profile-form__submit {
        width: 100%;
        max-width: 280px;
        margin-top: 40px;
    }
}
