<dl class="profile__details">
    {{#each profileData.mainFields}}
        <div class="profile__detail">
            <dt class="profile__label">{{label}}</dt>
            <dd class="profile__value">{{value}}</dd>
        </div>
    {{/each}}
</dl>
