<nav class="profile__actions" aria-label="Действия профиля">
    <ul class="profile__action-list">
        <li class="profile__action-item">
            <a class="profile__action" href="/settings/edit">Изменить данные</a>
        </li>
        <li class="profile__action-item">
            <a class="profile__action" href="/settings/password">Изменить пароль</a>
        </li>
        <li class="profile__action-item">
            <a class="profile__action profile__action--danger" href="/login">Выйти</a>
        </li>
    </ul>
</nav>
