<nav class="profile__actions" aria-label="Действия профиля">
    <ul class="profile__action-list">
        {{#if actions}}
            {{#each actions}}
                <li class="profile__action-item">
                    <a class="profile__action {{#if isDanger}}profile__action--danger{{/if}}" href="{{href}}">{{label}}</a>
                </li>
            {{/each}}
        {{else}}
            <li class="profile__action-item">
                <a class="profile__action" href="/profile/edit">Изменить данные</a>
            </li>
            <li class="profile__action-item">
                <a class="profile__action" href="/profile/password">Изменить пароль</a>
            </li>
            <li class="profile__action-item">
                <a class="profile__action profile__action--danger" href="/login">Выйти</a>
            </li>
        {{/if}}
    </ul>
</nav>
