<form class="profile__avatar-form" action="/settings" method="post" enctype="multipart/form-data">
    <label class="profile__avatar" for="profile-avatar">
        <input class="profile__avatar-input" id="profile-avatar" type="file" name="avatar" accept="image/*" />
        <svg class="profile__avatar-icon" viewBox="0 0 40 40" aria-hidden="true">
            <path d="M20 21.8c5 0 9-4 9-9s-4-9-9-9-9 4-9 9 4 9 9 9zm0 4c-6 0-18 3-18 9v1.5h36v-1.5c0-6-12-9-18-9z" />
        </svg>
        <span class="profile__avatar-text">Поменять аватар</span>
    </label>
</form>
